In [1]:
import pandas as pd
df = pd.read_csv('heatmap_coordinate_data.csv')  
df.head()

   Latitude  Longitude     Score
0   34.3209  -118.2247  0.029213
1   41.8401   -87.8168  0.031613
2   29.8577   -95.3936  0.041455
3   33.3490  -112.4915  0.045561
4   33.0343  -116.7350  0.029962

In [2]:
df['Score'].max()

0.1942393287614034

In [3]:
df['Score'] = 1-df['Score']

In [4]:
df.head()

   Latitude  Longitude     Score
0   34.3209  -118.2247  0.970787
1   41.8401   -87.8168  0.968387
2   29.8577   -95.3936  0.958545
3   33.3490  -112.4915  0.954439
4   33.0343  -116.7350  0.970038

In [5]:
df.to_csv('filename.csv', index=False)

In [6]:
df = pd.read_csv('updated_with_state_icu_normalized.csv')
df.head()

,Rank,Current/Most Recent Study,Status,Study Results,Interventions,Outcome Measures,Age,Phases,Enrollment,Study Type,...,Hospital Name,Temp Locations 2,Principal Investigator,County,ICU Beds in the County,Composite Score,Total Successful Trials,State,ICU Beds true,Normalized Composite Scores
0,1,Retrospective Postoperative ARDS Study at Vand...,Completed,No Results Available,NaN,ARDS,"11 Years and older (Child, Adult, Older Adult)",NaN,89.0,Observational,...,"Vanderbilt University Medical Center, Nashville",Vanderbilt University Medical Center,"Christopher G Hughes, M.D.",Davidson,614.0,0.384689,2,Tennessee,614.0,69.009213
1,2,The Relationship Between Positive End Expirato...,Completed,No Results Available,NaN,Cardiac Index,"18 Years and older (Adult, Older Adult)",NaN,367.0,Observational,...,"Yale University, School of Medicine",Yale University,"Wassim H Fares, MD MSc",South Central Connecticut Planning Region,NaN,NaN,1,Connecticut,NaN,NaN
2,3,"Associations Between COVID-19 ARDS Treatment, ...",Completed,No Results Available,Other: ARDS and COVID19 treatments,Index Hospital Survival|Time to Mechanical Ven...,"Child, Adult, Older Adult",NaN,1800.0,Observational,...,"Feinstein Institutes for Medical Research, Man...",Feinstein Institutes for Medical Research,"Negin Hajizadeh, MD, MPH",Nassau,461.0,0.313666,1,New York,461.0,47.052557
3,4,Assessing the Role of Inclined Positioning in ...,Completed,No Results Available,Procedure: upright bed,highest value per day of mechanical ventilatio...,"18 Years to 80 Years (Adult, Older Adult)",Not Applicable,5.0,Interventional,...,"University of Kentucky, Lexington",University of Kentucky,NaN,Fayette,3.0,0.479679,2,Kentucky,260.0,98.375277
4,5,Dornase Alfa for ARDS in Patients With Severe ...,Completed,Has Results,Drug: Dornase Alfa Inhalation Solution,Change in Arterial Blood Oxygen Content to Fra...,"18 Years and older (Adult, Older Adult)",Phase 3,30.0,Interventional,...,"University of Missouri Hospital and Clinics, C...",University of Missouri Hospital and Clinics,"Zachary M Holliday, MD",Boone,0.0,0.368951,2,Missouri,110.0,64.143626